
<html lang="pt-br">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Cemitério de Startups</title>

  <!-- CSS  -->
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

<script>

</script>
  <style>
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
 background-color:    #26a69a ; <!--background color of buttons. Blue by default-->
<!--border-color:         your color;  color or borders. Also blue by default-->
  color:               #ffffff; <!--  text color of buttons which is white by default-->
  cursor:pointer;
  z-index:2;
}

  .dark{
  
  background:#1f0242;
  
  }
  
  .brand-logo{
  
	margin-top:6px;
	width:140px;
  
  }
  
  .icon-block .material-icons {
    font-size: inherit;
    color: #1f0242;
}

.text-field{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}
  
  </style>
</head>
<body ng-app="myApp"  ng-controller="mainCtrl">
  <nav class="dark" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"><img src="assets/img/logo.png" style="width:100%;"></img></a>
     <!-- <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>-->
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Cemitério de Startups</h1>
        <div class="row center">
          <h5 class="header col s12 light">Descubra porque tantas startups falharam e onde falharam!</h5>
        </div>
        <div class="row center">
          <a href="#container" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Vamos Começar!</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="../assets/img/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container" id="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row" style="text-align: center;">
        <div class="col s12 m3" ng-init="totalStartup()">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">{{num_rows}}</h5>

            <p class="light">Total de Startups Cadastradas</p>
          </div>
        </div>

        <div class="col s12 m3" ng-init="moreProblem()">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">{{more_problem}}</h5>

            <p class="light">Maior motivo de morte de uma startup</p>
          </div>
        </div>

        <div class="col s12 m3" ng-init="moreCity()">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">room</i></h2>
            <h5 class="center">{{more_city}}</h5>

            <p class="light">Cidade onde morrem mais startups</p>
          </div>
        </div>
		
		 <div class="col s12 m3" ng-init="totalInvestiment()">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">trending_up</i></h2>
            <h5 class="center">{{total_investiment| currency:"R$ "}}</h5>

            <p class="light">Total perdido em Investimento</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Procure por uma Startup logo abaixo!<br><b>Ou se você conhece uma que faliu e não se encontra aqui, adicione</b></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../assets/img/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
           <div class="row">
			<form class="col s12">
			  <div class="row">
				<div class="input-field col s12">
				  <input id="search" ng-model="search" type="text" class="search">
				  <label for="search" data-error="wrong" data-success="right">Procurar Startup</label>
				</div>
			  </div>
			</form>
		  </div>
        </div>
      </div>

    </div>
  </div>
  
  <div  ng-app="myApp"  ng-init="mySwitch=true" ng-controller="mainCtrl" class="col s12 center" style="margin-bottom: 3%;">
               
<a class="btn-large waves-effect waves-light teal lighten-1" data-target="modal-startup-form" modal ng-click="showCreateFormStartup()" >Adicionar Startup</a>
<a class="btn-large waves-effect waves-light teal lighten-1 " href=""  disabled="disabled">Reportar erro</a>
  </div>
  
  
  
  <div ng-app="myApp"  ng-controller="mainCtrl" class="row">

  <div id="modal-startup-detail" class="modal">
<!--Modal Detail-->
    <div class="modal-content">
        <h4 id="modal-startup-title-detail">Detalhes Startup</h4>
        <div class="row">
            <div class="input-field col s8">
                 <label for="name">Nome Startup</label>
                 <br>
            <p id="name">
			{{name}}
			</p>
			</div>
            <div class="input-field col s4">
                 <label for="name_problem">Motivo</label>
                 
                 <br>
            <p id="name_problem">
			{{name_problem}}
			</p>
			</div>
            <div class="input-field col s12">
                
                <label for="pitch">Pitch</label>
				<br>
                <p id="pitch">
				{{pitch}}</p>
            </div>
            <div class="input-field col s6">
                <label for="city">Cidade</label>
                <br>
                <p id="city">
				{{city}}</p>
                
            </div>
            <div class="input-field col s6">
                <label for="state">Estado</label>
                <br>
                <p id="state">
				{{state}}</p>
                
            </div> 
            <div class="input-field col s12">
             <label for="info">Quote </label>
			 <br>
             <p id="info">
			 {{info}}
			 </p>
            </div>

            <div class="input-field col s6">
                <label for="date_born">Início</label>
                <br>
                <p id="date_born">
				{{date_born}}</p>
            </div>
            <div class="input-field col s6">
                <label for="date_fail">Falha</label>
            <br>
            <p id="date_fail">
			{{date_fail}}</p>
                
            </div>
            <div class="input-field col s12">
                <label for="investiment">Investimento</label>
			<br>
            <p id ="investiment">
			{{investiment}}</p>
				</div>
            <div class="input-field col s12">
                <label for="name_founder">Nome Fundador</label>
				<br>
                <p id="name_founder">
				{{name_founder}}
				</p>
            </div>
            <div class="input-field col s12">
                <label for="url_founder">URL Fundador</label>
				<br>
                <p id="url_founder">
				{{url_founder}}
				</p>
				</div>
            <div class="input-field col s12">

                <a class="modal-action modal-close waves-effect waves-light btn margin-bottom-1em"><i class="material-icons left">close</i>Fechar</a>
            </div>
        </div>
    </div>
</div>


<div id="modal-startup-form" ng-app="myApp"  ng-controller="mainCtrl" class="modal">
<form name="myForm" novalidate>
    <div class="modal-content">
        <h4 id="modal-startup-title">Criar Nova Startup</h4> 
        <div class="row">
            <div class="input-field col s12">
                <input ng-model="name" ng-minlength="2"
       ng-maxlength="30" type="text" class="validate" id="form-name" placeholder="Digite o  nome ..." />
                <label for="name">Nome Startup </label>
            </div>
            <div class="input-field col s12">
                <textarea ng-required="true" ng-minlength="20"
       ng-maxlength="250" ng-model="pitch" type="text" class="validate materialize-textarea" placeholder="Digite o pitch..."></textarea>
                <label for="pitch">Pitch</label>
            </div>
			<div class="input-field col s12">
                <label for="problem">Motivo</label>
				<br><br>
              <select class="browser-default" name="problem" id ="problem" ng-init="getAllProblem()" required>
			  <option ng-repeat="d in problems | orderBy:'nproblem'|  filter:{nproblem:'!N/A'}" value="{{d.id}}">{{d.nproblem}}</option>
			</select>
			
                
            </div>
            <div class="input-field col s6">
                <label for="dcity">Cidade</label>
                <br><br>
                <select class="browser-default" name="dcity" id ="dcity" ng-model="city" required>
			 
			</select>
                
            </div>
            <div class="input-field col s6">
                <label for="stateUF">Estado</label>
                <br><br>
                <select class="browser-default" name="state" id ="stateUF" ng-model="state" required>
			 
			</select>
                
                
            </div> 
            <div class="input-field col s12">
                <textarea ng-model="info" ng-required="true"
       ng-minlength="20"
       ng-maxlength="250" type="text" class="validate materialize-textarea" placeholder="Digite o Quote..."></textarea>
                <label for="info">Quote </label>
            </div>

            <div class="input-field col s6">
                <label for="date_born">Data de Início</label>
                <br><br>
                <input ng-model="date_born" ng-required="true" id = "date_bornN" ng-minlength="7" ng-maxlength="7" type="string" class="js-mask-mesano text-field" placeholder="Digite o Nascimento..." ></input>
                
            </div>
            <div class="input-field col s6">
                <label for="date_fail">Data de Fail</label>
                <br><br>
                <input ng-model="date_fail"ng-required="true" id = "date_failN" ng-minlength="7" ng-maxlength="7" type="string" class="js-mask-mesano text-field" placeholder="Digite a falência..." ></input>
                
            </div>
            <div class="input-field col s12">
                <input ng-model="investiment" ng-required="true"
       ng-minlength="1"
        type="number" class="validate" id="investiment" placeholder="Digite o investimento..." />
                <label for="investiment">Investimento</label>
            </div>
            <div class="input-field col s12">
                <input ng-required="true"
       ng-minlength="3"
       ng-maxlength="80" ng-model="name_founder" type="text" class="validate" id="name_founder" placeholder="Digite o nome do fundador..." />
                <label for="name_founder">Nome do Fundador</label>
            </div>
            <div class="input-field col s12">
                <input  ng-required="false"
       ng-minlength="15"
       ng-maxlength="30" ng-model="url_founder" type="url" class="validate" id="url_founder" placeholder="Digite a URL do fundador..." />
                <label for="url_founder">URL Fundador</label>
            </div>
            <div class="input-field col s12">
                <a id="btn-create-startup" ng-disabled="myForm.$invalid"class="waves-effect waves-light btn margin-bottom-1em" ng-click="createStartup()"><i class="material-icons left">add</i>Criar</a>
 
                <!--<a id="btn-update-startup" class="waves-effect waves-light btn margin-bottom-1em" ng-click="updateStartup()"><i class="material-icons left">edit</i>Save Changes</a>-->
 
                <a class="modal-action modal-close waves-effect waves-light btn margin-bottom-1em"><i class="material-icons left">close</i>Fechar</a>
            </div>
        </div>
    </div>
	</form>
</div>

 <table class="hoverable bordered">
 
 <thead>
                  <tr>
                    <th class="visible-md visible-lg">#</th>
                    <!-- <th>Inclusão</th> -->
                    <th class="visible-xs visible-sm visible-md visible-lg">Startup</th>
                    <th class="hide-on-small-only hide-on-med-only hide-on-med-and-down">Pitch</th>
                    <th class="hide-on-small-only hide-on-med-only hide-on-med-and-down">Cidade</th>
                    <th class="hide-on-small-only hide-on-med-only hide-on-med-and-down">UF</th>
                    <th class="visible-xs visible-sm visible-md visible-lg">Motivo</th>
                    <th class="hide-on-small-only hide-on-med-only hide-on-med-and-down">Quote do empreendedor</th>
                   
                    <th class="hide-on-small-only hide-on-med-only hide-on-med-and-down">Data do Fail</th>
                    <th class="hide-on-small-only hide-on-med-only hide-on-med-and-down">Investimento</th>
                    <th class="visible-xs visible-sm visible-md visible-lg">Fundador</th>
                  </tr>
                </thead>
                <tbody ng-init="getAllStartup()">
        <tr dir-paginate="d in names | filter:search | orderBy:sortKey:reverse | itemsPerPage:20" pagination-id="cemiterio">
            <td data-title="#" class="visible-md visible-lg text-align-center">{{ d.id }}</td>
            <td data-title="Startup" class="visible-xs visible-sm visible-md visible-lg text-align-center"><a class="waves-effect waves-light btn purple darken-4" href=""  data-target="modal-startup-detail" modal ng-click="readOneStartup(d.id)"> {{d.name }}</a></td>
            <td data-title="Pitch" class="hide-on-small-only hide-on-med-only hide-on-med-and-down">{{ d.pitch |strLimit:100 }}</td>
            <td data-title="Cidade" class="hide-on-small-only hide-on-med-only hide-on-med-and-down">{{ d.city }}</td>
            <td data-title="UF" class="hide-on-small-only hide-on-med-only hide-on-med-and-down">{{ d.state }}</td>
            <td data-title="Motivo" class="text-align-center visible-xs visible-sm visible-md visible-lg">{{ d.name_problem }}</td>
            <td data-title="Quote" class="hide-on-small-only hide-on-med-only hide-on-med-and-down"> {{ d.info |strLimit:100 }}</td>
            
             <td data-title="Data do Fail" class="hide-on-small-only hide-on-med-only hide-on-med-and-down">{{ d.date_fail }}</td>
             <td data-title="Investimento" class="hide-on-small-only hide-on-med-only hide-on-med-and-down">{{ d.investiment | currency:"R$ "}}</td>
             <td data-title="Fundador" class="visible-xs visible-sm visible-md visible-lg text-align-center"> <a class="waves-effect waves-light btn purple darken-4" href="{{ d.url_founder }}">{{d.name_founder}}</a>     </td>
        </tr>
        
    </tbody>    


</table>
<!-- angular pagination -->

<dir-pagination-controls pagination-id="cemiterio" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app/shared/dir_pagination.tpl.html"></dir-pagination-controls>
  
  </div>
  



          

  

  <footer class="page-footer teal">
    
    <div class="footer-copyright">
      <div class="container">
       © 2017 - Made with ❤ by &nbsp; &nbsp;    <a href="http://gama.academy/"><img src="assets/img/gama.png" width="10%"></a> ©
	    <br><br>
			Developers: Bruno Andrade Santos, Michaell Reis Gasparini,Victor Angelo Marcorin, Vitor Savedra  - Gama Experience #2<br>
			Designer: Bruno A L Mescouto (BARBA) - Gama Experience #4	 
      </div>
    </div>
  </footer>


  <!--  Scripts-->


<!-- include angular js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.6.4/angular-locale_pt-br.min.js"></script>
  <!-- include jquery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
 <!-- include angular pagination -->
<script src="../assets/js/dirPagination.js"></script>


 
<!-- material design js -->
<script type="text/javascript" src="../assets/js/materialize.min.js"></script>
 
<!-- custom js -->
<script type="text/javascript" src="../assets/js/custom.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-mask/1.8.7/mask.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script>
<script type="text/javascript" src="../assets/js/jquery.maskedinput.js"></script>
<script type="text/javascript" src="../assets/js/maskedinput-binder.js"></script>
<script type="text/javascript" src="../assets/js/masks.js"></script>
 <script type="text/javascript" src="../assets/js/validadores.js"></script>
<!-- app -->
<script type="text/javascript" src="/app/app.js"></script>
  <script src="../assets/js/init.js"></script>
  <script>
  
	$(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
  
  </script>
  </body>
</html>
